{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/retro.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/trackerjacker.png' %}">
    <title>TrackerJacker</title>
</head>

<body class="retro">
    {% include "components/navbar_tracker.html" %}

    

    {% include "components/footer.html" %}
    <script src="{% static 'js/retro.js' %}"></script>
</body>

</html>