<nav class="retro-navbar retro">
    <div class="retro-navbar-header">
        <span class="retro-title">GloopieGuardian<span class="nav-small">Charts</span></span>
        <button class="retro-menu-btn" onclick="document.querySelector('.retro-navlinks').classList.toggle('open')">
            &#9776;
        </button>
    </div>
    <div class="retro-navlinks">
        <a href="/charts/" class="retro-link {% if request.path == '/charts/' %}retro-link-active{% endif %}">
            Dashboard
        </a>

        <a href="/map/" class="retro-link {% if request.path == '/map/' %}retro-link-active{% endif %}">
            Map
        </a>

        <a href="/api_tester/" class="retro-link {% if request.path == '/api_tester/' %}retro-link-active{% endif %}">
            Table
        </a>
    </div>
</nav>

