<nav class="retro-navbar retro">
    <div class="retro-navbar-header">
        <span class="retro-title">GloopieGuardian<span class="nav-small">TrackerJacker</span></span>
        <button class="retro-menu-btn" onclick="document.querySelector('.retro-navlinks').classList.toggle('open')">
            &#9776;
        </button>
    </div>
    <div class="retro-navlinks">
        <a href="/tracker/" class="retro-link {% if request.path == '/tracker/' %}retro-link-active{% endif %}">
            Dashboard
        </a>
    </div>
</nav>

